AWS_ACCESS_KEY_ID=xxxxx
AWS_SECRET_ACCESS_KEY=xxxxx
AWS_REGION=xxxxx
DATABASE_URL=aws-data-service-mysql:///?secret_arn=arn:aws:secretsmanager:xxxxx:xxxxx:secret:xxxxx&resource_arn=arn:aws:rds:xxxxx:xxxxx:cluster:xxxxx
